In [1]:
var01 = 3
var02 = 4

In [2]:
# 거듭제곱

print(var01 ** 2, var02 ** 2)
print(pow(var01, 2))

9 16
9

### 파이썬 모듈 을 이용한 수학 계산

In [3]:
import math # 수학 계산 모듈

In [4]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [5]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [6]:
# sin 45도
math.sin(45)

0.8509035245341184

In [7]:
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

### 난수

In [8]:
import random

In [42]:
random.randint(1, 100)

54

### 범위의 수
: range(start, end+1, step)

In [54]:
var01 = [1,2,3,4,5,6,7,8,9,10]
print(var01)
print(list(range(1, 10+1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
list(range(10)) # 하나만 적으면 0부터 end까지
list(range(10, 1-1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 2~10까지 짝수만 출력

In [56]:
print(list(range(2, 10+1, 2)))

[2, 4, 6, 8, 10]

# 10에서 2까지 짝수만 출력

In [57]:
print(list(range(10, 2-1, -2)))

[10, 8, 6, 4, 2]

### Sampling

In [58]:
list01 = range(1000+1)
print(random.sample(list01, 100))

[341, 830, 791, 463, 620, 740, 731, 324, 188, 865, 612, 35, 11, 18, 219, 511, 192, 682, 605, 954, 24, 243, 286, 449, 181, 337, 797, 538, 230, 185, 209, 985, 415, 309, 773, 30, 720, 123, 875, 743, 759, 935, 110, 907, 284, 973, 534, 204, 263, 829, 134, 21, 926, 224, 4, 1000, 194, 792, 25, 100, 680, 419, 649, 689, 651, 765, 385, 764, 132, 761, 713, 198, 513, 202, 439, 822, 956, 565, 234, 800, 117, 911, 306, 254, 499, 57, 894, 661, 568, 611, 632, 26, 73, 164, 249, 955, 240, 331, 149, 683]

# 로또 번호 생성하기

In [59]:
list02 = range(1, 45+1)
print(random.sample(list02, 6))

[19, 37, 3, 15, 21, 30]

In [ ]:
# 반올림 (.5 일 때 올렸을 때 숫자가 짝수면 올리고 홀수면 내림 그래서 안 씀)
print(round(2.5))
print(round(3.5))
print(round(4.5))

2
4
4

### 메모리에 있는 변수 보기

In [63]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'list01',
 'list02',
 'math',
 'open',
 'quit',
 'random',
 'var01',
 'var02']

In [64]:
# 메모리에서 var01 삭제
del var01

In [66]:
# var01

---
### 관계연산자

In [67]:
num1 = 100
num2 = 20

# 동등비교
print(num1 == num2)

False

### 논리연산자

In [ ]:
# And, Or 연산자 (&, | <= 사용하면 안됨, bit 연산자)
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

# 부정 연산자 !는 터미널 명령어 쓸 때 사용함
print(not(num1 >= 50))

False
True
False

In [73]:
!ls

01. Preview.ipynb             02. 변수와 자료형.ipynb

---
### 문자열 자료형

In [74]:
var01 = "Hello World!"
var01

'Hello World!'

In [77]:
# 여러줄의 문자열
var01 ="""
    Hello World!
        Good to meet you!
"""
var01
print(var01)

    Hello World!
        Good to meet you!

In [79]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you."'

print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [81]:
# 특수 문자
var03 = 'aaa\nbbb'
var04 = 'ccc\tddd'
print(var03, var04)

aaa
bbb ccc	ddd

In [83]:
# 문자열 연산
var01 = "Python"
var02 = "is fun."
print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [84]:
# 문자열 연산(곱셈)
var01 = "Python"
print(var01 * 3)

PythonPythonPython

In [86]:
print("=" * 20)
print("\tPython")
print("=" * 20)

====================
	Python
====================

In [103]:
print("","Python\t\t파이썬", "홍길동과\t\t고길동", "햄버거와\t\t햄부기", "", sep="\n"+"*"*21+"\n")

*********************
Python		파이썬
*********************
홍길동과		고길동
*********************
햄버거와		햄부기
*********************

### 문자열 indexing과 slicing

In [112]:
str = "abcdefghijklmn"

print(str[0])
print(str[0:2+1])
print(str[:2+1])
print(str[5:])
print(str[:5])
print(str[0] + str[1] + str[2])
print(str[-1])
print(str[5:-2])

a
abc
abc
fghijklmn
abcde
abc
n
fghijkl

In [117]:
str = "20201229Snow"
year = str[:4]
month = str[4:6]
day = str[6:8]
weather = str[-4:]
print(year+"년", month+"월", day+"일", "날씨 : "+weather) # 2020 1229 Snow

2020년 12월 29일 날씨 : Snow

In [123]:
str = "abbde"
str = str[:2] + "c" + str[3:]
str

'abcde'

---
### 문자열 formatting
: %s, %d, %f

In [126]:
# %d : 정수형 formatting
print("I have %d aplles." %2)

number = 2
print("I have %d aplles." %number)

I have 2 aplles.
I have 2 aplles.

In [125]:
# %s : 문자열 formatting
print("I have %s apples."%"two")

I have two apples.

In [127]:
# 혼합형 formatting
number = 2
fruit = "apples"

print("I have %d %s."%(number, fruit))

I have 2 apples.

In [129]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [133]:
# %f : 실수형 formatting
print("-" * 20)
print("%.4f"%3.14148)
print("%10.4f"%3.14148)

--------------------
3.1415
    3.1415

---
## f-string 포맷팅
:python 3.6 이상

In [134]:
name = "홍길동"
age = 32
print(f"{name}의 나이는 {age}살 이다.")

홍길동의 나이는 32살 이다.

In [135]:
number = 1234567

In [144]:
# 좌측 정렬
f"{number:>20}"

'             1234567'

In [143]:
# 우측 정렬
f"{number:<20}"

'1234567             '

In [145]:
# 중앙 정렬
f"{number:^20}"

'      1234567       '

In [152]:
# 빈칸채우기
f"{number:!>20}"

'!!!!!!!!!!!!!1234567'

In [155]:
# 천 단위 쉼표
f"{number:,}"

'1,234,567'

In [158]:
f"[{number:-^20,}]"

'[-----1,234,567------]'

In [162]:
# 실수 출력
f_number = 3.141592
f"[{f_number:20.3f}]"

'[               3.142]'

---
### 문자열 관련 함수

In [164]:
# 문자 count
str = "I have a dream."
print(len(str))
print(str.count("a"))

15
3

In [ ]:
# 문자 위치 알려주기 - 1 없으면 -1 출력
print(str.find("e"))
print(str.find("x"))

5
-1

In [ ]:
# 문자 위치 알려주기 - 2 없으면 에러나서 주로 find 사용
print(str.index("e"))
# print(str.index("x"))

5

In [170]:
print(str.find("a"))

3

In [175]:
# 특정 글자의 모든 위치를 알아내는 방법
str = "I have a dream."
seach_word = "a"
start = 0
count = 0

# 언제끝나는지 몰라서 True로 무조건 실행
while True:
    position = str.find(seach_word, start)
    if position == -1:
        break
    count += 1
    print(f"단어 {seach_word}의 {count}번의 위치는 {position}입니다.")
    start = position + len(seach_word)

단어 a의 1번의 위치는 3입니다.
단어 a의 2번의 위치는 7입니다.
단어 a의 3번의 위치는 12입니다.

In [176]:
# 문자열 삽입
str = ","
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [181]:
# 소문자를 대문자로 바꾸기
str = "hi"
str = str.upper()

In [182]:
str

'HI'

In [185]:
# 소문자로 바꾸기
str.lower()

'hi'

In [187]:
# 왼쪽 공백 지우기
str = "      hi"
str.lstrip()

'hi'

In [188]:
# 오른쪽 공백 지우기
str = "hi             "
str.rstrip()

'hi'

In [189]:
# 좌우 공백 지우기
str = "        hi         "
# str.lstrip().rstrip() # .만 찍으면 메소드를 이어서 쓸 수 있음
str.strip()

'hi'

In [190]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace("happy", "unhappy")

'Life is too short to be unhappy.'

In [194]:
# 문자열 나누기
str = 'Life is too short to be happy.'
list01 = str.split()
type(list01)
list01[0]

'Life'

In [195]:
str = "a:b:c:d"
str.split(":")

['a', 'b', 'c', 'd']

### 날짜형 변환

In [196]:
from datetime import datetime, timedelta

In [197]:
time1 = datetime(2020, 12,22,21,0,0,0,)
print(time1)

2020-12-22 21:00:00

In [198]:
type(time1)

datetime.datetime

In [200]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time2 - time1)

2025-05-12 15:12:09.235559
1601 days, 18:12:09.235559

In [203]:
print((time2 - time1).days, "일")
print((time2 - time1).seconds, "초")

1601 일
65529 초

In [204]:
# 시간으로 확인하기
((time2 - time1).days * 24) + math.floor((time2 - time1).seconds / 60 / 60)

38442

In [206]:
# 특정 날짜로부터 시간 계산
print("현재 시간부터 5일 뒤:", time2 + timedelta(days=5))
print("현재 시간부터 3일 전:", time2 + timedelta(days=-3))
print("현재 시간부터 1일 뒤의 2시간 전:", time2 + timedelta(days=1, hours=-2))

현재 시간부터 5일 뒤: 2025-05-17 15:12:09.235559
현재 시간부터 3일 전: 2025-05-09 15:12:09.235559
현재 시간부터 1일 뒤의 2시간 전: 2025-05-13 13:12:09.235559

### 올해 남은 일자 확인하기

In [218]:
# 현재 년도
timeOnYear = datetime.now().date().year
print(timeOnYear)

endDate = datetime(timeOnYear, 12, 31, 23, 59, 59)

print((endDate - datetime.now()).days, "일")

2025
233 일