### 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용

In [1]:
# 리스트 자료형 선언
var01 = []
var02 = [1,2,3]
var03 = ['I', 'have', 'a', 'dream']
var04 = [1, 2, 'Dream', 'True']
var05 = [1, 2, ['Dream', 'True']]

In [2]:
# var05에서 'Dream'만 추출하기
print(var05[2][0])

Dream

---
### 리스트 연산자

In [3]:
# 리스트의 확장

var01 = [1,2,3]
var02 = [4,5,6]
var01 +  var02

[1, 2, 3, 4, 5, 6]

In [4]:
# 리스트의 덧셈
for i in range(len(var01)):
    print(var01[i] + var02[i])

5
7
9

In [5]:
# 3hi!
var = [1,2,3]
str(var[2]) + "hi!"

'3hi!'

In [6]:
var = [1,2,3]
print(3 in var)
print(4 in var)

True
False

---
### 리스트의 수정과 삭제

In [7]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [8]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [9]:
var[1:2+1] = []
var

[1, 'c', 4]

In [10]:
del var[1]
var

[1, 4]

### Quiz)

In [11]:
# 출력 예) [100, 200, 300, 400, 500, 600, 700]
varEx = list(range(100, 700+1, 100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [12]:
# 200 삭제하기
del varEx[1]
print(varEx)

[100, 300, 400, 500, 600, 700]

In [13]:
# 300, 400, 500 삭제하기
varEx[1:3+1] = [] # del varEx[1:3+1]
print(varEx)

[100, 600, 700]

In [14]:
# 원 상태로 복원하기
varEx[1:1] = list(range(200, 500+1, 100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

### 리스트 관련 함수

In [16]:
# 리스트에 데이터 추가
var = [1,2,3]
var.append(4)
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [20]:
# 리스트의 정렬
var = [1,4,3,2]

# 오름차순
var.sort()
print(var)

# 내림차순
var.reverse()
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [22]:
# 리스트에 데이터 삽입
var = [1,2,3]
var.insert(0, 4)
var

[4, 1, 2, 3]

In [35]:
# 리스트에 요소 제거
var = [1,2,3,4,4,4,5]
for _ in range(var.count(4)):
    var.remove(4)
print(var)

[1, 2, 3, 5]

In [ ]:
# 리스트에서 데이터 꺼내기
var = [1,2,3]
print(var.pop()) # 리스트의 마지막[()가 비어있을 때] 데이터를 보여주고 해당 데이터는 삭제됨.
print(var)

3
[1, 2]

In [26]:
# for문을 사용한 pop
var = [1,2,3]
for _ in range(len(var)):
    print(var.pop())
print(var)

3
2
1
[]

In [27]:
# 원하는 위치를 pop하기
var = [1,2,3]
print(var.pop(0))
print(var)

1
[2, 3]

In [28]:
# 리스트의 확장
var = [1,2,3,4]
var.extend([5,6])
var

[1, 2, 3, 4, 5, 6]

### Ex

In [31]:
# 1부터 10까지의 수 중 짝수 List와 홀수 List를 따로 생성하고
# 짝수 List에 홀수 List를 확장하여 합계 구하기
evenVar = list(range(2, 10+1, 2))
oddVar = list(range(1, 10+1, 2))
evenVar.extend(oddVar)
sum(evenVar)

55

### Ex
: 아래의 리스트를 필요한 부분을 발췌하여
Hello World! My name is Alice and I'm 30 years old.로 출력하기

In [37]:
list01 = [1, 3.14, 'Hello World!', True, [170, 50, 30], ['Alice', 'Cathy']]
print(list01[2], "My name is", list01[-1][0], "and I'm", list01[-2][2], "years old.")
print(f"{list01[2]} My name is {list01[-1][0]} and I'm {list01[-2][2]} years old.")

Hello World! My name is Alice and I'm 30 years old.
Hello World! My name is Alice and I'm 30 years old.

### 리스트의 복사
1. Call by Reference

In [38]:
var01 = [1,2,3,4]
var02 = var01

In [40]:
var02[0] = 10

In [41]:
print(var01)
print(var02)

[10, 2, 3, 4]
[10, 2, 3, 4]

### Call by Value

In [42]:
var01 = [1,2,3,4]
var02 = var01.copy()

In [43]:
var02[0] = 10

In [44]:
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]

In [45]:
from copy import copy

In [46]:
var01 = [1,2,3,4]
var02 = copy(var01)
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]

In [47]:
var01 = [1,2,3,4]
var02 = var01[:]
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]