### range(start, end+1, step)

In [1]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [2]:
list(range(0, 10, -2))

[]

In [9]:
# 1에서 10까지의 제곱근을 출력하기

import math

for i in range(1, 10+1, 1):
    print(f"{i:>2} : {math.sqrt(i):0<.8f}")

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [17]:
# 구구단 결과만 출력하기
for dan in range(2, 9+1, 1):
    for i in range(1, 9+1, 1):
        print(f"{dan * i:>2}", end=" ")
        i += 1
    print("")

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [ ]:
# 구구단 (2~9단) 중 짝수단과 짝수가 곱해지는 수만 출력하기
for dan in range(2, 9+1, 2):
    for i in range(2, 9+1, 2):
        print(f"{dan} X {i} = {dan*i:>2}")
    print(f"{"-"*10}")

2 X 2 =  4
2 X 4 =  8
2 X 6 = 12
2 X 8 = 16
----------
4 X 2 =  8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
----------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
----------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
----------

### for문에 Tuple 사용하기

In [20]:
# 리스트에 튜플을 함께 사용한 경우
var = [(1,2), (3,4), (5,6)]

for first, last in var:
    print(f"{first} + {last} = {first+last}")

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

### Ex : 1부터 10000까지의 수 중
1) 3의 배수의 개수 구하기
2) 5의 배수의 개수 구하기
3) 3의 배수이면서 5의 배수인 개수 구하기
4) 3의 배수이거나 5의 배수인 개수 구하기

In [38]:
count3 = count5 = count3and5 = count3or5 = 0

for i in range(1, 10000+1, 1):
    if(i % 3 == 0):
        count3 += 1
    if(i % 5 == 0):
        count5 += 1
    if(i % 3 == 0 and i % 5 == 0):
        count3and5 += 1
    if(i % 3 == 0 or i % 5 == 0):
        count3or5 += 1
print(f"1) 3의 배수의 개수 : {count3}\n2) 5의 배수의 개수 : {count5}\n3) 3의 배수이면서 5의 배수인 개수 : {count3and5}\n4) 3의 배수이거나 5의 배수인 개수 : {count3or5}")

1) 3의 배수의 개수 : 3333
2) 5의 배수의 개수 : 2000
3) 3의 배수이면서 5의 배수인 개수 : 666
4) 3의 배수이거나 5의 배수인 개수 : 4667

In [39]:
# 검증
count3 + count5 - count3and5 == count3or5

True

### Ex
총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다.  
합격, 불합격 보여주기

In [50]:
scores = [90, 25, 57, 45, 80]

In [52]:
number = 1
for score in scores:
    # print(f"{i}학생은 점수가 {score[i-1]}점 이므로 합격 입니다." if(score[i-1]>60) else f"{i}학생은 점수가 {score[i-1]}점 이어서 불합격 입니다.")
    print(f"{number}학생은 점수가 {score}점 {"이므로 합격" if(score>60) else "이어서 불합격"} 입니다.")
    number += 1

1학생은 점수가 90점 이므로 합격 입니다.
2학생은 점수가 25점 이어서 불합격 입니다.
3학생은 점수가 57점 이어서 불합격 입니다.
4학생은 점수가 45점 이어서 불합격 입니다.
5학생은 점수가 80점 이므로 합격 입니다.

In [55]:
# Ex : 60점 이상인 합격자 번호만 출력하기
scores = [90, 25, 57, 45, 80]
number = 1

for score in scores:
    if(score >= 60):
        print(f"{number}번 학생은 합격했습니다")
    number += 1

scores = [90, 25, 57, 45, 80]
number = 0
passList = []

for score in scores :
    number += 1
    if score < 60:
        continue
    else:
        passList.append(number)

passList

1번 학생은 합격했습니다
5번 학생은 합격했습니다

[1, 5]

### for else

In [56]:
for i in range(1, 5+1):
    if i == 10:
        break
    print(i)
else:
    print('10이 없습니다.')

1
2
3
4
5
10이 없습니다.

---
### 문장과 단어 추출

In [58]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [59]:
sents = []
words = []

In [ ]:
# 문단 -> 문장 (크롤링)
for sen in string.split(sep="\n"):
    sents.append(sen)
    # 문장 -> 문단
    for word in sen.split():
        words.append(word)

sents

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [61]:
words

['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

---
### 파이썬의 내포(Comprehension) 함수

In [62]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i * 5)

var02

[5, 10, 15, 20]

In [64]:
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [65]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]

In [69]:
# 구구단 결과만 List로 만들기 (2단 ~ 9단)
result = [dan * i for dan in range(2, 9+1) for i in range(1, 9+1) ]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [71]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
import numpy as np
scores = [90, 25, 57, 45, 80]
passList = [score for score in scores if score >= 60]
np.mean(passList)

85.0

In [87]:
# 구구단 결과만 출력하기
gugudan = [[sum(dan * i for i in range(1, 9+1, 1))] for dan in range(2, 9+1, 1)]
# for dan in range(2, 9+1, 1):
#     for i in range(1, 9+1, 1):
#         print(f"{dan * i:>2}", end=" ")
#         i += 1
#     print("")
gugudan

[[90], [135], [180], [225], [270], [315], [360], [405]]