### 함수

### numpy 내장 함수

In [3]:
import numpy as np

In [4]:
# 평균 구하기
np.mean(range(1, 10+1))

5.5

In [5]:
# 합계 구하기
np.sum(range(1, 10+1))

55

In [6]:
# 분산 구하기
np.var(range(1, 10+1))

8.25

In [7]:
# 표준 편차 구하기
np.std(range(1, 10+1))

2.8722813232690143

In [8]:
# 최대값 구하기
np.max(range(1, 10+1))

10

In [9]:
# 최소값 구하기
np.min(range(1, 10+1))

1

In [10]:
# 중앙값 구하기
np.median(range(1, 10+1))

5.5

In [12]:
var = [1,1,1,1,1,1,40]
print(np.mean(var))
print(np.median(var))

6.571428571428571
1.0

In [18]:
# 누적합
np.cumsum(range(1, 10+1)) #array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55])
# np.cumsum(range(1, 10+1))[-1] # 55

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55])

In [19]:
# 누적곱
np.cumprod(range(1, 10+1))

array([      1,       2,       6,      24,     120,     720,    5040,
         40320,  362880, 3628800])

---
### 사용자 정의 함수

In [ ]:
# 매개변수가 없는 함수
def hiF():
    return('Hi')

In [23]:
a = hiF()
print(a)

Hi

In [25]:
# 매개변수가 있는 함수
def testF(num1, num2):
    return num1 + num2, num1 - num2

In [28]:
add, subtract = testF(2,3)
print(add, subtract)

5 -1

In [47]:
# 가변 길이 인수를 가진 함수 (unpacking 연산자)
def sumManyF(*nums):
    sum = 0
    for i in nums:
        sum += i
    return sum

In [48]:
print(sumManyF(1,2,3))
print(sumManyF(1,2,3,4,5,6,7,8))

6
36

In [33]:
# 가변길이 키워드 매개변수
def print_items(**nums):
    for k, v in nums.items():
        print(k, v)

In [34]:
print_items(a=1,b=2)

a 1
b 2

---
### 내장함수를 이용한 함수 만들기

In [35]:
def sumManyF2(*inputValue):
    return np.max(inputValue) - np.min(inputValue)

In [36]:
sumManyF2(1,2,3,4,5,6,7)

6

In [37]:
### Ex: 구구단에서 단과 곱해지는 수를 리스트로 입력하여 출력하기

In [107]:
def gugu(*value):
    for dan in value[0]:
        for num in value[1]:
            print(f"{dan} * {num} = {dan*num}")
        print(f"{"-"*10}")

In [108]:
x = [2,5,8]
y= [6,7,8,9]
gugu(x,y)

2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------

### 덧셈 기능과 곱셈 기능을 구분하여 숫자의 결과를 보여주는 함수

In [103]:
def sum_mulF(str, *nums):
    if str == 'sum':
        print(np.cumsum(nums)[-1])
    elif str == 'mul':
        print(np.cumprod(nums)[-1])
    else:
        print("What are you talking about?")

In [104]:
sum_mulF('sum', 1,2,3,4,5) # 15
sum_mulF('mul', 1,2,3,4,5) # 120
sum_mulF('add', 1,2,3,4,5) # What are you talking about?

15
120
What are you talking about?

In [112]:
# 특정한 결과값을 무시하고 싶은 경우

In [114]:
def say_nickF(nick):
    if nick == "바보":
        return
    return(f"나의 별명은 {nick} 입니다.")

In [115]:
print(say_nickF("천재"))

나의 별명은 천재 입니다.

In [116]:
print(say_nickF("바보"))

None

### 함수에 초기값(default value) 설정하기

In [118]:
def say_myself(name, old, gender = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {old}살 입니다.")
    print("남자 입니다." if gender else "여자 입니다.")

In [119]:
say_myself("유비", 30)

나의 이름은 유비입니다.
나이는 30살 입니다.
남자 입니다.

In [120]:
say_myself("관우", 30, True)

나의 이름은 관우입니다.
나이는 30살 입니다.
남자 입니다.

In [121]:
say_myself("초선", 30, False)

나의 이름은 초선입니다.
나이는 30살 입니다.
여자 입니다.

In [122]:
x = 0

def func1():
    x = 1
    print(x)

def func2():
    print(x)

In [123]:
func1()

1

In [124]:
func2()

0

In [125]:
x = 0

def func1():
    global x
    x = 1
    print(x)

def func2():
    print(x)

In [126]:
func1()

1

In [127]:
func2()

1

### Ex
원의 면적과 둘레를 구하는 함수

In [128]:
import math

In [139]:
#면적 pier^2 둘레 2pier 
def circle_area_length(r):
    area = 3.14*r**2
    length = 2*3.14*r
    return area, length

In [140]:
area, length = circle_area_length(5)
print(f"{area:.8}, {length:.8}")

78.5, 31.4

---
### 람다(lambda) 함수
- 보통 함수를 한 줄로 간결하게 만들 때 사용
- return이 없다. (안 써도 return)

In [141]:
def addFunction(a,b):
    return a+b

In [143]:
# 위의 함수를 람다함수로 변환
addLambda = lambda a, b : a + b
addLambda(10, 20)

30

### 중첩 함수(nested function) / 내부 함수(inner funtion)
: 함수 안에서 다른 함수를 정의

In [159]:
def outer_function(x, y):
    def inner_function(z):
        return x + y + z
    return inner_function

In [160]:
result = outer_function(1, 2)
print(result(3))

6

---
### 재귀(Recursion)
: 계산을 위해 자기 자신을 참조하는 방법

Factorial 함수

In [150]:
# 반복 방식 / 가정) n은 0보다 큰 정수
def fact_iter(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [151]:
print(fact_iter(4))

24

In [152]:
# 재귀 방식의 하수
def fact_rec(n):
    if n==1:
        return n
    else:
        return n * fact_rec(n-1)

In [153]:
print(fact_rec(4))

24