### SQLite

In [1]:
import sqlite3

# sqlite 데이터베이스 연결하기
dbPath = "../Data/test.sqlite"
conn = sqlite3.connect(dbPath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    DROP TABLE IF EXISTS items;
    
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );

    INSERT INTO items(name, price) VALUES ('Apples', 800);
    INSERT INTO items(name, price) VALUES ('Orange', 780);
    INSERT INTO items(name, price) VALUES ('Banana', 430);
    """
)

conn.commit()

In [3]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT item_id, name, price FROM items")
item_list = curs.fetchall()

for it in item_list:
    print(it)

(1, 'Apples', 800)
(2, 'Orange', 780)
(3, 'Banana', 430)

In [4]:
import sqlite3

# sqlite 데이터베이스 연결하기
dbPath = "../Data/test2.sqlite"
conn = sqlite3.connect(dbPath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    DROP TABLE IF EXISTS items;
    
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );
    """
)

conn.commit()

In [5]:
# 데이터 넣기
curs = conn.cursor()
curs.execute("INSERT INTO items (name, price) VALUES (?,?)", ("Orange", 5200))
conn.commit()

In [7]:
# 여러 데이터를 연속으로 넣기
# 데이터 넣기
curs = conn.cursor()
data = [("Mango", 7700), ('Kiwi', 4000), ('Grape', 8700), ('Peach', 9400)]
curs.executemany("INSERT INTO items (name, price) VALUES (?,?)", data)
conn.commit()

In [9]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT item_id, name, price FROM items")
item_list = curs.fetchall()

for it in item_list:
    print(it)

(1, 'Orange', 5200)
(2, 'Mango', 7700)
(3, 'Kiwi', 4000)
(4, 'Grape', 8700)
(5, 'Peach', 9400)